<div class="flex flex-column">
    <h3>Buscador</h3>

    <mat-form-field>
        <mat-label>Buscador de Heroes</mat-label>
        <input matInput [formControl]="searchInput" type="text" [matAutocomplete]="auto" />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <ng-container *ngIf="filteredOptions | async as options">
                <mat-option *ngFor="let option of options;" [value]="option.superhero">{{option.superhero}}</mat-option>
                <mat-option *ngIf="options.length === 0 && searchInput.value && searchInput.value.length > 0">No se encontro el resultado: {{searchInput.value}}</mat-option>
            </ng-container>
        </mat-autocomplete>
    </mat-form-field>
</div>
